@import url(./variables.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


::selection {
    background-color: var(--StrongYellow);
}

.selectClass::selection {
    color: var(--LightYellow);
}

::-moz-selection {
    background-color: var(--StrongYellow);
}

.selectClass::-moz-selection {
    color: var(--LightYellow);
}

header {
    width: 100%;
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
}

.menuMobile {
    width: 35px;
    height: 35px;

    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.mm_line {
    width: 90%;
    height: 2px;
    background-color: white;
}

header nav {
    display: flex;
}

header nav ul {
    display: flex;
    gap: 20px;
}

header nav ul li {
    list-style: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

header nav ul li a {
    width: 100%;
    text-decoration: none;
    color: var(--white);
    font-size: 26px;
    font-family: var(--textSpaceGrotesk);
    transition: all 0.2s linear;
}

header nav ul li a:hover {
    color: rgb(194, 194, 194);
    text-decoration: underline;
}

header p {
    font-family: var(--titleCormorantGaramond);
    font-size: 36px;
    color: var(--white);
}

main {
    background-image: url(../IMG/BackgroundBelchiorGradient.png);
    height: calc(100vh - 60px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--white);
    display: flex;
    flex-direction: column;

}

main .contentmain {
    width: 100%;
    margin: auto;
    padding-left: 100px;
}

main .contentmain h1 {
    font-family: var(--titleCormorantGaramond);
    font-size: 100px;
    font-weight: normal;
    color: var(--white);
}

main .contentmain h2 {
    font-family: var(--textSpaceGrotesk);
    font-weight: normal;
    color: var(--white);
    font-size: 35px;
}

main .textodownmain {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: auto;
    padding-bottom: 60px;
}

main .textodownmain p {
    font-family: var(--textSpaceGrotesk);
    color: var(--white);
    font-size: 26px;
}

#biography {
    display: flex;
    padding: 100px;
    background-color: var(--black);
}

.biography_left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: auto;
}

.biography_left span {
    width: 100%;
    width: 80%;
    font-family: var(--textSpaceGrotesk);
    font-size: 38px;
    color: var(--LightYellow);
    font-weight: 500;
    text-decoration: underline;
}

.biography_left p {
    width: 80%;
    font-size: 18px;
    font-family: var(--textSpaceGrotesk);
    color: var(--LightYellow);
    line-height: 1.5;

}

.biography_right {
    flex: 1;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.biography_right img {
    width: 70%;
}

#discography {
    display: flex;
    padding: 100px;
    color: var(--white);
    background-color: var(--LightBlack);
}

.discography_left {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.discography_left-subtitle {
    width: 100px;
    margin-bottom: 12px;
}

.discography_left-subtitle span {
    font-family: var(--textSpaceGrotesk);
    color: var(--StrongYellow);
}

.discography_left-subtitle-bar {
    width: 38%;
    height: 2px;
    background-color: var(--StrongYellow);
}

.discography_left-title {
    display: flex;
    flex-direction: column;
    color: var(--white);
}

.discography_left-title span {
    font-family: var(--titleCormorantGaramond);
    font-size: 70px;
    font-weight: 900;
    line-height: 1;
}

.discography_left-title span:last-child {
    color: var(--StrongYellow);
}

.discography_left p {
    font-family: var(--textSpaceGrotesk);
    color: var(--LightYellow);
    font-size: 21px;
}

.discography_right {
    flex: 1.5;

}

#excerpts {
    padding: 100px;
    background-color: var(--black);
}

#excerpts .excerpts_header {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

.excerpts_mention-subtitle {
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.excerpts_mention-subtitle-bar {
    width: 15%;
}

.excerpts_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;

}

.excerpts_container-card {
    width: 360px;
    height: 230.04px;
    border-radius: 15px;
    background-color: LightYellow;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0px 20px;
}

.excerpts_container-card-IMG {
    width: 100%;
    padding-top: 10px;
}

.excerpts_container-card img {
    width: 14%;
}

.excerpts_container-card p {
    width: 90%;
    margin-top: -10px;
    font-family: var(--titleCormorantGaramond);
    color: var(--black);
    font-size: 24px;
    font-weight: 500;
}

.excerpts_container-card-footer_texts {
    display: flex;
    flex-direction: column;
    font-family: var(--textSpaceGrotesk);
    font-weight: bold;
}

.excerpts_container-card-footer {
    width: 100%;
    display: flex;
    gap: 10px;
    font-size: 15px;
    letter-spacing: 2px;
}

.excerpts_container-card-footer_BAR {
    margin-top: 10px;
    width: 30px;
    height: 2px;
    background-color: var(--StrongYellow);
}

.excerpts_container-card-footer_texts span:last-child {
    color: var(--StrongYellow);
}

.arrowUp {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 0;
    right: 0;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: var(--black);
    border-radius: 100%;
    border: 2px solid var(--white);
    transition: all 0.2s linear;
    cursor: pointer;
}

.arrowUp:hover {
    background-color: var(--blackHOVER);
}

.arrowUp:active {
    background-color: var(--black);
}

footer {
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
    font-family: var(--textSpaceGrotesk);
    gap: 10px;

}

footer span {
    font-size: 30px;
    color: var(--white);
}

footer p {
    color: var(--Gray);
}

footer p a {
    text-decoration: none;
    color: var(--white);
    text-decoration: underline;
}

@media (max-width: 768px) {
    header nav ul {
        position: absolute;
        flex-direction: column;
        left: 0;
        background-color: var(--white);
        width: 100%;
        gap: 0px;
        margin-top: 50px;
    }

    header nav ul li {
        padding: 15px;
    }

    header nav ul li:hover {
        background-color: var(--black);
    }

    header nav ul li a {
        color: var(--black);
        font-size: 16px;
    }

    header nav ul li a:hover {
        text-decoration: none;
        color: var(--white);
    }

    header {
        padding: 15px 25px;
    }

    header p {
        font-size: 22px;
    }

    .menuMobile{
        display: flex;
    }

    main .contentmain {
        padding-left: 50px;
    }

    main .contentmain h1 {
        font-size: 50px;
    }

    main .contentmain h2 {
        font-size: 17.5px;
    }

    main .textodownmain p {
        font-size: 13px;
    }

    main {
        height: calc(100vh - 60px);
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover;
        color: var(--white);
        display: flex;
        flex-direction: column;

    }

    #biography {
        padding: 30px;
        flex-direction: column;
        gap: 30px;
    }

    .biography_left span {
        font-size: 19px;
    }

    .biography_left p {
        font-size: 9px;
    }

    #discography {
        padding: 30px;
        flex-direction: column;

    }

    .discography_left {
        margin-bottom: 30px;
    }



    #excerpts .excerpts_header {
        margin: 30px;
    }

    #excerpts {
        padding: 30px;
    }

    .discography_left-title span {
        font-size: 25px;
    }

    .discography_left p {
        font-size: 8px;
    }


    .discography_left-subtitle {
        font-size: 8px;
    }

    .excerpts_mention-subtitle span {
        display: none;
    }

    .excerpts_container-card {
        width: 280px;
        height: 200px;
    }

    .excerpts_container-card p {
        font-size: 18px;
    }

    .excerpts_container-card-footer_texts {
        font-size: 10px;
    }

    footer {
        padding: 30px;
    }

    footer span {
        font-size: 15px;
    }

    footer p {
        font-size: 9px;
    }

    .arrowUp {
        width: 25px;
        height: 25px;
    }

    main .textodownmain {
        padding-bottom: 30px;
    }
}